#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #313338;
  color: #fff;
}

.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
}

.page-header {
  position: sticky;
  display: flex;
  top: 0;
  background-color: #313338;
  padding: 5px;
  text-align: start;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.page-header button{
  font-size: small;
  color: #d9dbde;
  background-color: transparent;
}

.page-header button:hover{
  font-size: small;
  color: #d9dbde;
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.page-header input {
  border: 0;
  margin-left: 5%;
  background-color: #313338;
  color: white;
  max-width: 20vw;
}

.page-header select {
  border: 0;
  margin-left: 5%;
  background-color: #313338;
  color: white;
}

