.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(270px, calc((100% - 40px) / 3)), 1fr));
  gap: 20px;
}

.game-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
  border-radius: 2%;
  background-color: #2b2d31;
}

.game-item img {
  max-width: 100%;
  border-radius: 1%;
  height: auto;
}

.game-summary {
  color: #fff;
}

.game-icons {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.game-icons button {
  background-color: transparent;
}

.game-rating{
  color: gold;
  font-size: 18px;
}

.game-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}
.on {
  color: gold;
}
.off {
  color: #ccc;
}

.heart-icon {
  font-size: 24px;
  color: #ccc; 
  transition: transform 0.3s, color 0.3s;
}

.favorite .heart-icon {
  color: #ff0000;
  transform: scale(1.2);
}

.game-summary p {
  color: #d9dbde;
}

.game-tags {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.tag {
  flex: 1;
  padding-right: 2%;
  padding-left: 2%;
  background-color: #313338;
  border-radius: 0.7em;
  margin-right: 1%;
  margin-left: 1%;
}

.tag span {
  font-size: small;
  color: rgb(160, 159, 159);
}

.platform-icons {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
  padding-bottom: 4%;
}
  